<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href='{{ base }}/'>
    <link rel="shortcut icon" href="https://github.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>flask-ssm主页</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.0.0.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/common.js" charset="utf-8"></script>
</head>
<body>
<fieldset>
    <legend>*请在此输入请求地址</legend>
    <label for="inputUrl">
        <input id="inputUrl" placeholder="输入请求地址" type="text" value="{{ base }}/helloWorld"/>
    </label>
</fieldset>
<fieldset>
    <legend>*请在此选择mime值</legend>
    <label title="request.json.get&lpar;&quot;param&quot;&rpar;">
        <input type="radio" id="radioMimeJson" name="mime" value="application/json;charset=utf-8"
               onclick="formatData(this)" onchange="updateButtonState(this)" checked/>application/json;charset=utf-8
    </label>
    <label title="request.values.get&lpar;&quot;param&quot;&rpar;">
        <input type="radio" id="radioMimeForm" name="mime" value="application/x-www-form-urlencoded;charset=utf-8"
               onclick="formatData(this)" onchange="updateButtonState(this)"/>application/x-www-form-urlencoded;charset=utf-8
    </label>
    <label title="request.files.get&lpar;&quot;param&quot;&rpar;">
        <input type="radio" id="radioMimeFile" name="mime" value="multipart/form-data" onclick="formatData(this)"
               onchange="updateButtonState(this)"/>multipart/form-data
    </label>
</fieldset>
<fieldset>
    <legend>*请在此选择请求方式</legend>
    <label>
        <input type="radio" name="requestMethod" value="POST" checked/>POST
    </label>
    <label>
        <input type="radio" name="requestMethod" value="GET"/>GET
    </label>
    <label>
        <input type="radio" name="requestMethod" value="PUT"/>PUT
    </label>
    <label>
        <input type="radio" name="requestMethod" value="DELETE"/>DELETE
    </label>
    <label>
        <input type="radio" name="requestMethod" value="PATCH"/>PATCH
    </label>
</fieldset>
<fieldset>
    <legend>请在此输入请求正文</legend>
    <label for="textParams">
        <textarea id="textParams" cols="100" rows="8">
{
    "param": "hello world"
}
    </textarea>
    </label>
</fieldset>
<div id="divUpload">
    <form id="formUpload">
        <span>upload_file&equals;</span><input id="fileUpload" type="file" name="upload_file"/><input type="reset"/>
    </form>
</div>
<div id="divButtons">
    <button id="buttonAjax" onclick="getCustom(this, true)">ajax请求</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button id="buttonForm" onclick="getCustom(this, false)">提交表单</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button id="buttonClear" onclick="clearDiv(document.getElementById('divOutput'))">清屏</button>
</div>
<div id="divOutput"></div>
</body>
</html>