<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href='{{ base }}/'>
    <link rel="shortcut icon" href="favicon.ico">
    <title>flask-mvc主页</title>
    <script type="text/javascript" src="js/jquery.min.js" charset="utf-8"></script>
    <script>
        function getCustom() {
            $("#uploadform").attr("action", $("#url").val());
            $("#uploadform").attr("method", $("input[name='request_method']:checked").val());

            let fileInput = $('#uploadfile').get(0).files[0];
            if (fileInput) {
                $("#uploadform").submit();
            } else {
                $.ajax({
                    type: $("input[name='request_method']:checked").val(),
                    contentType: $("input[name='mime']:checked").val(),
                    dataType: "json",
                    url: $("#url").val(),
                    data: $("#inpu").val(),
                    success: function (response) {
                        $("#oupu").append("--------------------------------------------------");
                        $("#oupu").append("<div>请求：" + $("#inpu").val() + "</div>");
                        $("#oupu").append("<div>响应：" + JSON.stringify(response) + "</div>");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#oupu").append("--------------------------------------------------");
                        $("#oupu").append("<div>请求：" + $("#inpu").val() + "</div>");
                        $("#oupu").append("<div>响应：" + JSON.stringify(jqXHR) + "</div>");
                    }
                });
            }
        }
    </script>
</head>
<body>

<small>*请在此输入请求地址</small>
<label for="url">
    <input id="url" placeholder="输入请求地址" type="text" value="{{ base }}/hello_world"/>
</label><br/>
<br/>
<small>*请在此选择mime值</small><br/>
<label>
    <input type="radio" id="mime_json" name="mime" value="application/json;charset=utf-8" checked/>application/json;charset=utf-8
</label><br/>
<label>
    <input type="radio" id="mime_form" name="mime" value="application/x-www-form-urlencoded;charset=utf-8"/>application/x-www-form-urlencoded;charset=utf-8
</label><br/>
<label>
    <input type="radio" id="mime_text" name="mime" value="text/html;charset=utf-8"/>text/html;charset=utf-8
</label><br/>
<br/>
<small>*请在此选择请求方式</small><br/>
<label>
    <input type="radio" name="request_method" value="POST" checked/>POST
</label><br/>
<label>
    <input type="radio" name="request_method" value="GET"/>GET
</label><br/>
<label>
    <input type="radio" name="request_method" value="PUT"/>PUT
</label><br/>
<label>
    <input type="radio" name="request_method" value="DELETE"/>DELETE
</label><br/>
<br/>
<label for="inpu">
    <small>*请在此输入请求正文json</small><br/>
    <textarea id="inpu" cols="100" rows="8">
{
    "param": "hello world"
}
    </textarea>
</label><br/>
<form id="uploadform" enctype="multipart/form-data">
    　　　<input id="uploadfile" type="file" name="upload_file"/><input type="reset"/>
</form>
<button onclick="getCustom()">请求</button>
<br/>
<div id="oupu"></div>
</body>
</html>